Repository reportyao/luckymart-tj-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

fix(i18n): comprehensive audit and fix - remove hardcoded Chinese, add 115 translation keys, sync public/locales, fix default language to tg
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
  src/components/ErrorBoundary.tsx
  src/components/LazyImage.tsx
  src/components/LogisticsStatus.tsx
  src/components/ai/AIChat.tsx
  src/components/home/ModulePreview.tsx
  src/components/home/ProductList.tsx
  src/components/lottery/PurchaseModal.tsx
  src/components/wallet/DepositModal.tsx
  src/components/wallet/FirstDepositNoticeModal.tsx
  src/components/wallet/WithdrawModal.tsx
  src/i18n/config.ts
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/lib/utils.ts
  src/pages/AIPage.tsx
  src/pages/DepositPage.tsx
  src/pages/InvitePage.tsx
  src/pages/LotteryDetailPage.tsx
  src/pages/LotteryResultPage.tsx
  src/pages/MarketCreatePage.tsx
  src/pages/MarketPage.tsx
  src/pages/MyPrizesPage.tsx
  src/pages/MyTicketsPage.tsx
  src/pages/NotFoundPage.tsx
  src/pages/NotificationPage.tsx
  src/pages/OrderDetailPage.tsx
  src/pages/OrderPage.tsx
  src/pages/PendingPickupPage.tsx
  src/pages/ProfileEditPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/SettingsPage.tsx
  src/pages/ShowoffCreatePage.tsx
  src/pages/ShowoffPage.tsx
  src/pages/SpinLotteryPage.tsx
  src/pages/WalletPage.tsx
  src/pages/WithdrawPage.tsx
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

fix: 修复深度审查发现的关联Bug
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
  src/components/lottery/LotteryCard.tsx
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/lib/__tests__/utils.test.ts
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

fix: SpinWheel 子组件缺少 useTranslation hook 导致 TypeScript 编译错误
  src/pages/SpinLotteryPage.tsx
Due: eslint --fix, prettier --write

fix: restore minWidth/minHeight on images to prevent overflow
  src/components/LazyImage.tsx
  src/components/home/ProductList.tsx
  src/components/lottery/LotteryCard.tsx
Due: eslint --fix, prettier --write

fix: 修复图片不受约束显示的问题
  pnpm-workspace.yaml
  src/components/LazyImage.tsx
  src/components/home/ProductList.tsx
  src/components/lottery/LotteryCard.tsx
  src/index.css
Due: eslint --fix, prettier --write

fix: LazyImage img使用absolute inset-0定位，彻底修复图片在aspect-ratio容器中溢出的问题
  src/components/LazyImage.tsx
Due: eslint --fix, prettier --write

fix: 彻底修复图片显示问题 - 全面使用内联样式确保 Telegram WebView 兼容性
  src/components/LazyImage.tsx
  src/components/home/ModulePreview.tsx
  src/components/home/ProductList.tsx
  src/components/lottery/LotteryCard.tsx
  src/index.css
Due: eslint --fix, prettier --write

fix: 彻底修复图片/缩略图显示异常 (v2.5.0)
  public/version.json
  src/components/BannerCarousel.tsx
  src/components/LazyImage.tsx
  src/components/OptimizedImage.tsx
  src/components/layout/Layout.tsx
  src/components/lottery/PurchaseModal.tsx
  src/index.css
  src/pages/DepositPage.tsx
  src/pages/FullPurchaseConfirmPage.tsx
  src/pages/InvitePage.tsx
  src/pages/LotteryDetailPage.tsx
  src/pages/LotteryResultPage.tsx
  src/pages/MarketCreatePage.tsx
  src/pages/MarketPage.tsx
  src/pages/MyPrizesPage.tsx
  src/pages/MyTicketsPage.tsx
  src/pages/OrderDetailPage.tsx
  src/pages/OrderManagementPage.tsx
  src/pages/PendingPickupPage.tsx
  src/pages/ProfileEditPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/PromoterCenterPage.tsx
  src/pages/ShowoffCreatePage.tsx
  src/pages/ShowoffPage.tsx
  src/pages/groupbuy/GroupBuyDetailPage.tsx
  src/pages/groupbuy/GroupBuyListPage.tsx
  src/pages/groupbuy/GroupBuyResultPage.tsx
  src/pages/groupbuy/MyGroupBuysPage.tsx
Due: eslint --fix, prettier --write

fix: 彻底修复图片缩略图放大问题，重写 LazyImage v5 并统一全项目图片处理模式
  public/version.json
  src/components/BannerCarousel.tsx
  src/components/LazyImage.tsx
  src/components/OptimizedImage.tsx
  src/components/home/ModulePreview.tsx
  src/components/home/ProductList.tsx
  src/components/lottery/LotteryCard.tsx
  src/components/lottery/PurchaseModal.tsx
  src/pages/FullPurchaseConfirmPage.tsx
  src/pages/LotteryDetailPage.tsx
  src/pages/LotteryResultPage.tsx
  src/pages/MarketCreatePage.tsx
  src/pages/MarketPage.tsx
  src/pages/MyPrizesPage.tsx
  src/pages/MyTicketsPage.tsx
  src/pages/PendingPickupPage.tsx
  src/pages/ShowoffCreatePage.tsx
  src/pages/ShowoffPage.tsx
  src/pages/groupbuy/GroupBuyDetailPage.tsx
  src/pages/groupbuy/GroupBuyListPage.tsx
  src/pages/groupbuy/GroupBuyResultPage.tsx
  src/pages/groupbuy/MyGroupBuysPage.tsx
Due: eslint --fix, prettier --write

fix: GroupBuyResultPage 中奖页面简化 - 删除顶部开奖结果标题、移除提货码显示改为立即查看按钮、删除底部三个按钮、更新三语文案
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
  public/version.json
  src/pages/groupbuy/GroupBuyResultPage.tsx
Due: eslint --fix, prettier --write

fix: GroupBuyResultPage 超时页面 Header 布局 - 返回按钮与标题同行显示
  public/version.json
  src/pages/groupbuy/GroupBuyResultPage.tsx
Due: eslint --fix, prettier --write

fix: 修复 i18n 双套文件问题 - 同步更新 src/i18n/locales 三语文件，修正 groupBuy.congratulations 和新增 viewNow key
  public/version.json
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
Due: prettier --write, node scripts/i18n-validate.mjs

chore: 同步 public/locales 与 src/i18n/locales 保持一致
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
Due: prettier --write

fix: 修复 i18n 缓存问题 - loadPath 加入版本号参数防止 Telegram 缓存旧翻译文件，升级版本至 2.5.1
  public/version.json
  src/i18n/config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: i18n 自动化同步体系 - 新增 i18n-sync 脚本、集成 vite 构建钩子和 pre-commit 自动同步
  .husky/pre-commit
  package.json
  public/version.json
  scripts/i18n-sync.mjs
  vite-plugin-timestamp.js
Due: eslint --fix, prettier --write

feat: AI 开发防护体系 — CLAUDE.md 规范文件 + pre-build-check 自动检查脚本
  .clinerules
  .cursorrules
  CLAUDE.md
  package.json
  public/version.json
  scripts/pre-build-check.mjs
Due: prettier --write

feat: 增加运费补贴文案 — 首页顶部/一键包团/积分一元购/订单详情
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
  public/version.json
  src/components/layout/Layout.tsx
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/pages/FullPurchaseConfirmPage.tsx
  src/pages/OrderDetailPage.tsx
  src/pages/groupbuy/GroupBuyDetailPage.tsx
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

feat: 订单详情页待提货状态也显示运费补贴文案
  public/version.json
  src/pages/OrderDetailPage.tsx
Due: eslint --fix, prettier --write

feat: 自提点照片显示功能 - OrderDetailPage 缩略图网格+点击放大预览
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
  public/version.json
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/pages/OrderDetailPage.tsx
  supabase/functions/get-order-detail/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

feat: 地推人员代客充值系统 MVP
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/pages/ProfilePage.tsx
  src/pages/PromoterCenterPage.tsx
  src/pages/PromoterDepositPage.tsx
  src/pages/WalletPage.tsx
  supabase/functions/promoter-deposit/index.ts
  supabase/migrations/20260301_promoter_deposit_system.sql
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

fix: 修正 SQL migration 文件中的字段类型和约束
  supabase/migrations/20260301_promoter_deposit_system.sql
Due: none

fix: 地推代充安全修复 + 系统二僵尸代码清理
  src/components/wallet/FirstDepositNoticeModal.tsx
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/lib/supabase.ts
  src/pages/DepositPage.tsx
  src/pages/InvitePage.tsx
  src/pages/PromoterDepositPage.tsx
  src/pages/WalletPage.tsx
  supabase/functions/activate-first-deposit-bonus/index.ts
  supabase/functions/admin-user-financial/index.ts
  supabase/functions/handle-first-deposit/index.ts
  supabase/functions/log-share-event/index.ts
  supabase/functions/promoter-deposit/index.ts
  supabase/migrations/20260301_promoter_deposit_system.sql
  supabase/migrations/20260302_security_fix_promoter_deposit.sql
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

fix: 修复地推充值通知字段不匹配及前端金额验证问题
  src/pages/PromoterDepositPage.tsx
  supabase/migrations/20260305_fix_promoter_deposit_notification.sql
Due: eslint --fix, prettier --write

fix: 修复地推充值系统时区、搜索和金额验证问题
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  supabase/migrations/20260305_fix_promoter_deposit_notification.sql
Due: prettier --write, node scripts/i18n-validate.mjs

fix: 资金安全修复 v4 - 深度审查问题全面修复
  supabase/functions/approve-deposit/index.ts
  supabase/functions/bulk-payout-commissions/index.ts
  supabase/functions/create-full-purchase-order/index.ts
  supabase/functions/exchange-balance/index.ts
  supabase/functions/exchange-currency/index.ts
  supabase/functions/group-buy-draw/index.ts
  supabase/functions/handle-purchase-commission/index.ts
  supabase/functions/lottery-draw/index.ts
  supabase/functions/market-manage/index.ts
  supabase/functions/process-squad-events/index.ts
  supabase/functions/purchase-resale/index.ts
  supabase/functions/referral-reward/index.ts
  supabase/functions/wallet-transaction/index.ts
  supabase/functions/withdraw-request/index.ts
  supabase/migrations/20260301_promoter_deposit_system.sql
  supabase/migrations/20260305_fix_historical_data.sql
Due: eslint --fix, prettier --write

fix: 合并 v4 资金安全修复与正式服务器运营修复 (perform_promoter_deposit v1.3.0)
  supabase/migrations/20260305_v4_merged_perform_promoter_deposit.sql
Due: none

fix: 修复 4.1 balance_before/after 计算错误 + 4.2 wallet_id/user_id 混用问题
  supabase/functions/approve-withdrawal/index.ts
  supabase/functions/group-buy-timeout-check/index.ts
  supabase/functions/market-manage/index.ts
  supabase/functions/withdraw-request/index.ts
Due: eslint --fix, prettier --write

i18n: Update group buy functions with multi-language descriptions and notification templates
  supabase/functions/group-buy-draw/index.ts
  supabase/functions/group-buy-join/index.ts
  supabase/functions/group-buy-squad/index.ts
  supabase/functions/group-buy-timeout-check/index.ts
  supabase/functions/telegram-notification-sender/index.ts
Due: eslint --fix, prettier --write

fix(i18n): 为所有用户通知添加 title_i18n 和 message_i18n 三语支持
  supabase/functions/approve-deposit/index.ts
  supabase/functions/approve-showoff/index.ts
  supabase/functions/approve-withdrawal/index.ts
  supabase/functions/auto-lottery-draw/index.ts
  supabase/functions/lottery-draw-timestamp/index.ts
Due: eslint --fix, prettier --write

security: 删除 admin-add-test-bonuses 测试函数，添加完整操作日志系统
  supabase/functions/admin-add-test-bonuses/index.ts
  supabase/functions/approve-deposit/index.ts
  supabase/functions/approve-showoff/index.ts
  supabase/functions/approve-withdrawal/index.ts
  supabase/functions/promoter-deposit/index.ts
  supabase/migrations/20260306_enhance_audit_logging.sql
Due: eslint --fix, prettier --write

fix(security): P0+P1 安全修复 - 充值审批原子化、提现RPC修复、拼团回滚修复
  supabase/functions/group-buy-join/index.ts
  supabase/functions/group-buy-squad/index.ts
  supabase/migrations/20260306_p0_p1_security_fixes.sql
Due: eslint --fix, prettier --write

fix: BUG-008/009/011/012/013 综合修复
  src/services/ErrorMonitorService.ts
  supabase/functions/approve-deposit/index.ts
  supabase/functions/telegram-notification-sender/index.ts
  supabase/migrations/20260306_bug008_009_011_012_013_fixes.sql
Due: eslint --fix, prettier --write

fix: 修复 lottery-purchase 和 create-full-purchase-order 的类型转换安全隐患
  supabase/functions/create-full-purchase-order/index.ts
  supabase/functions/lottery-purchase/index.ts
Due: eslint --fix, prettier --write

fix: 深度审查修复 - 佣金流水记录、退款重试机制、价格验证、version递增
  supabase/functions/create-full-purchase-order/index.ts
  supabase/functions/group-buy-draw/index.ts
  supabase/functions/group-buy-join/index.ts
  supabase/functions/handle-purchase-commission/index.ts
  supabase/functions/lottery-purchase/index.ts
  supabase/functions/market-manage/index.ts
  supabase/migrations/20260307_fix_add_user_lucky_coins_version.sql
Due: eslint --fix, prettier --write

feat: 新增用户二维码展示和缴款管理RPC函数
  package.json
  public/locales/ru.json
  public/locales/tg.json
  public/locales/zh.json
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/pages/ProfilePage.tsx
  supabase/migrations/20260307_settlement_management_rpc.sql
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

feat: 阶段一 - 数据库结构升级 Migration
  supabase/migrations/20260318_business_refactor.sql
Due: none

fix: 阶段一 Migration 深度审查修复 (v1.1.0)
  supabase/migrations/20260318_business_refactor.sql
Due: none

feat(phase2): Edge Functions 核心逻辑重构
  supabase/functions/approve-deposit/index.ts
  supabase/functions/auto-lottery-draw/index.ts
  supabase/functions/create-full-purchase-order/index.ts
  supabase/functions/issue-refund-coupons/index.ts
  supabase/functions/lottery-purchase/index.ts
  supabase/functions/telegram-notification-sender/index.ts
  supabase/migrations/20260318_fix_promoter_deposit_bonus.sql
Due: eslint --fix, prettier --write

fix: 并发安全性深度修复
  deno.lock
  src/lib/supabase.ts
  src/pages/FullPurchaseConfirmPage.tsx
  src/pages/PromoterDepositPage.tsx
  supabase/functions/approve-deposit/index.ts
  supabase/functions/approve-showoff/index.ts
  supabase/functions/approve-withdrawal/index.ts
  supabase/functions/create-full-purchase-order/index.ts
  supabase/functions/lottery-purchase/index.ts
  supabase/functions/promoter-deposit/index.ts
Due: eslint --fix, prettier --write

feat(Phase3-4): 功能1-2 多语言文案替换 + 隐藏拼团入口 + 抵扣券列表页
  src/App.tsx
  src/i18n/locales/ru.json
  src/i18n/locales/tg.json
  src/i18n/locales/zh.json
  src/pages/CouponListPage.tsx
  src/pages/HomePage.tsx
  src/pages/OrderManagementPage.tsx
Due: eslint --fix, prettier --write, node scripts/i18n-validate.mjs

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,css})
  node scripts/i18n-validate.mjs: any of: src/i18n/locales/*.json
